<div id="about-content" class="text-in-box" style="display: none;">

    <h1>About</h1>

    <p> The Harvestar is an innovative Real-Time Strategy game
      that stands on the shoulders of <%= link_to "MADMASS", "https://github.com/algorithmica/madmass" %>. As such, The
      Harvestar benefits of
      some of the most amazing technologies out there: Cloud Computing, Artificial Intelligence
      and HTML5. The Harvestar is a fully multi-player game where you can challenge in real time your
      friends, up to 3 at the time.
    </p>

    <p> The Harvestar game, including the Harvestar's characters, Logo,
      Music, Sound Effects and all images are copyright 2011-2012
      of  <%= link_to "Algorithmica s.r.l.", "http://www.algorithmica.it" %>
    </p>

    <p> Character and Interface Design, Artwork and Animations by
      <%= link_to "LRNZ", "http://lrnz.it" %>, Music and Fx by Mario Pierro
      / <%= link_to "Raiders of the Lost ARP", "http://www.facebook.com/raidersofthelostarp" %> </p>

    <p> This project is part of the Specific Targeted Research Project
      (STReP) <%= link_to "Cloud-TM", "http://cloudtm.eu" %> and is partially funded by the European
      Commission under the Seventh Framework Programme for Research and Technological Development (FP7 - 2007-2013) with
      contract no. 257784.

    <p> The service is free for everyone. If you have any comments, questions or feedback, please use contacts at
      info@algorithmica.it </p>

</div>