<div id="templates">

  <%# ======== DESK ======== %>
  <%= render 'game/templates/system_menu' %>
  <%= render 'game/templates/settings' %>
  <%= render 'game/templates/presence_panel' %>
  <%= render 'game/templates/presence_chats' %>

  <%# ======== LIST ======== %>
  <%= render 'game/templates/game_list' %>

  <%# ====== HISCORES ====== %>
  <%= render 'game/templates/hiscores_list' %>

  <%# ======= ACCOUNT ====== %>
  <%= render 'game/templates/account_form' %>

  <%# ======== PLAY ======== %>
  <%= render 'game/templates/components' %>
  <%= render 'game/templates/score' %>
  <%= render 'game/templates/players' %>
  <%= render 'game/templates/info' %>
  <%= render 'game/templates/resources' %>
  <%= render 'game/templates/build' %>
  <%= render 'game/templates/research' %>
  <%= render 'game/templates/trade_raiders' %>
  <%= render 'game/templates/market' %>
  <%= render 'game/templates/chat' %>
  <%= render 'game/templates/summary' %>
  
</div>