<div class="sign-in-logo"></div>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  
  <p class="password-recovery-text">
    <% unless flash[:notice].blank?  %>
      <%= flash[:notice] %>
    <% else %>
      To reset your password, enter the e-mail you use to sign in to The Harvestar.
    <% end %>
  </p>

  <p class="<%= class_for(resource, :email) %>">
    <%= error_message(resource, :email) %>
    <%= f.email_field :email, :placeholder => t(:email) %>
  </p>

  <div id="password-submit" class="enabled btn-password">
    <div class="text"><%= t(:send) %></div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#password-submit').click(function() {
      $(this).parent('form').submit();
    });
  });      <%= error_message(resource, 'password_confirmation') %>

</script>