<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta property="og:title" content="The Harvestar"/>
  <meta property="og:type" content="game"/>
  <meta property="og:url" content="http://www.theharvestar.com/"/>
  <meta property="og:image" content="http://theharvestar.com/assets/client/fb_share.png"/>
  <meta property="og:description" content="The next generation HTML5 realtime strategy game."/>

  <title>Theharvestar</title>
  <%= stylesheet_link_tag 'game', :media => 'all' %>
  <%= javascript_include_tag 'game',
      'http://js.pusher.com/1.12/pusher.min.js',
      'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'
  %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- This div confguration allows to have an overflow hidden veiewport with a scrolling desk
containing many containers to be shown at different game states.  -->
<div id="viewport">
  <div class="desk">

    <!-- Preloading (removed after preload) -->
    <div id="loadInfo" style="display: none; ">
      <div id="statusBar">
        <div id="status"></div>
      </div>
      <div id="textStatus"></div>
    </div>

    <!-- Boards -->
    <div id="list"></div>
    <div id="hiscores"></div>
    <div id="play"></div>
    <div id="account"></div>

  </div>

</div>

<%= render 'templates' %>

<script type="text/javascript">
  initialize(<%= @sensing.to_json.html_safe %>);
</script>

</body>
</html>
