<!DOCTYPE html>
<html>
<head>
  <title>Theharvestar</title>
  <%= stylesheet_link_tag "play", :media => "all" %>
  <%= javascript_include_tag "play", "http://js.pusher.com/1.12/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- This div confguration allows to have an overflow hidden veiewport with a scrolling desk
containing many containers to be shown at different game states.  -->
<div id="viewport">
  <div class="desk">

    <!-- Preloading (removed after preload) -->
    <div id="loadInfo" style="display: none; ">
      <div id="statusBar">
        <div id="status"></div>
      </div>
      <div id="textStatus"></div>
    </div>

    <!-- Boards -->
    <div id="list"></div>
    <div id="hiscores"></div>
    <div id="play"></div>
    <div id="account"></div>

  </div>

</div>

<script type="text/javascript">
  Game.config = {
    env:'<%= Rails.env %>',
    wssServer: <%= Socky.random_host.to_json.html_safe %>,
    pusherKey:'<%= Pusher.key.html_safe %>',
    debugging:(function() {
      <% if Rails.env.development? and params[:debug] != 'false' %>
      return {debug:true, log:true};
      <% else %>
      return {debug:false, log:false};
      <% end %>
    })()
  };
  initialize();
</script>

</body>
</html>
